[package]
name = "trigger-command"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
rust-version = "1.73"

[workspace.package]
version = "0.1.0"
authors = ["Radu Matei <radu@fermyon.com>"]
edition = "2021"

[workspace]

[dependencies]
anyhow = "1.0.75"
async-trait = "0.1"
clap = { version = "3.1.15", features = ["derive", "env"] }
serde = "1.0"
spin-app = { git = "https://github.com/fermyon/spin", tag = "v2.4.0" }
spin-core = { git = "https://github.com/fermyon/spin", tag = "v2.4.0" }
spin-trigger = { git = "https://github.com/fermyon/spin", tag = "v2.4.0" }
tokio = { version = "1.23", features = ["full"] }
tracing = { version = "0.1", features = ["log"] }
tracing-subscriber = { version = "0.3.7", features = ["env-filter"] }
wasmtime-wasi = { version = "18.0.1", features = ["tokio"] }

[target.'cfg(target_os = "linux")'.dependencies]
# This needs to be an explicit dependency to enable
# '--features openssl/vendored', which is used for Linux releases.
openssl = { version = "0.10" }

[workspace.dependencies]
wit-bindgen = "0.16.0"
